*{
    margin: 0;
    padding: 0;
    
}
.contenedor{
    display: flex !important;
    flex-direction: row !important;   
    width: 80% !important;
   /*  border: solid rgb(0, 21, 255); */
    margin-top: 0.1% !important;
}

.analitica-contenedor{
  width: 80% !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 25px;

    margin-top: -10% !important;
  
}
.tex-analitica {
    text-align: center;
   border:solid 1px rgba(0, 0, 0, 0.21);
   width: 100%;
     box-shadow: 2px 0px 5px 2px rgba(0, 0, 0, 0.3);
   margin-top: -130px;
}
.contenedor h2 {
   font-size: large;
   font-weight: 600;
   
}
.contenedor h1 {
   font-size: 150%;
   font-weight: 900;
   
}


button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

h2 {
  margin-bottom: 25px;
}

/* === Diagrama de torta === */
.torta {
  width: 100px;
  height: 100px;
  margin: 0 auto 20px auto;
  border-radius: 50%;
  background: conic-gradient(
    #f68b1f 0% 49%,   /* Viaje a Japón */
    #000 49% 81%,     /* Carro nuevo */
    #1e2a8a 81% 100%  /* Casa */
  );
  position: relative;
}

/* Para efecto tipo donut */
.torta::after {
  content: "";
  position: absolute;
  inset: 25%;
  background: white;
  border-radius: 50%;
}

/* === Leyenda === */
.leyenda {
  text-align: left;
  font-size: 14px;
}

.item {
  display: flex;
  align-items: center;
  margin: 6px 0;
}

.color {
  width: 15px;
  height: 15px;
  margin-right: 8px;
  border-radius: 3px;
}
#flecha{
    margin-top: 23px;
    width: 30px;
    height: 30px;

    margin-left: 5px;
}


.analitica-metas{
     box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.3);
    border-radius:14px ;
    margin-top: 20px !important;
    padding: 10px;
    display: flex;
    width: 400px;
    height: 180px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

