* {
  margin-left: 0% !important;
  padding: 0% !important;


}

body {
  width: 100% !important;
  font-family: "Lato", sans-serif !important;
  color: rgba(53, 71, 172, 255) !important;

}
.nombre-usuario{
  font-family: "Lato", sans-serif !important;
  font-weight: 900 !important;
  font-size: 20px !important;
  margin-top: 10px !important;
  margin-bottom: 50px !important;
}

.contenedorLogo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 18px;
}

.logoFooter img {
  margin-top: px;
  border-radius: 50px !important;
  width: 40px;

}

.contenedor {

  width: 100% !important;
  margin-top: -1%;
  display: flex;
  gap: 18px;
  flex-direction: row-reverse;
  height: 100%;
  margin-top: -1%;
  display: flex;
  gap: 18px;
  flex-direction: row-reverse;
  height: 100%;
}

.tarjetas:nth-child(1) {
  width: 25%;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);

}

.navmenu {
  width: 250px;
  height: 975px;
  border-radius: 12px;
  padding-top: 50px !important;
}

.contenedorMetas {
  height: auto;
  flex-grow: 1;
  width: 85% !important;
  mar border-radius: 10px;
  background-color: rgba(250, 250, 250, 255);

}

/* opciones usuario */
.logo-usuario {
  width: 100%;
  display: flex;
  padding-top: 27px;
  text-align: center;
  justify-content: space-evenly;

}

.container-opciones-perfil-medio {
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 10%;
  display: flex;
  gap: 12px !important;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.container-opciones-perfil-inferior {
  padding-top: 500px !important;
  display: flex;
  gap: 6px !important;
  flex-direction: column;
  align-items: center;
  text-align: center;

}

.opcion:nth-child(1),
.opcion:nth-child(2),
.opcion:nth-child(3),
.opcion:nth-child(4) {
  width: 80%;
  flex-grow: 1;
  color: rgb(255, 255, 255);
  font-family: "Lato", sans-serif !important;
  font-weight: 900 !important;
  font-size: 15px !important;
}

.opcion:nth-child(1) img,
.opcion:nth-child(2) img,
.opcion:nth-child(3) img,
.opcion:nth-child(4) img {
  filter: brightness(0) invert(1);
  margin-right: 8px;
}



#masOpciones {
  display: none;

}

#imagenRostroPrueba {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  /* Hace que los bordes sean redondeados */
  object-fit: cover;
  /* Asegura que la imagen se ajuste al contenedor */
  text-align: center;

}

.opcion {
  display: flex;
  align-items: center;
  justify-content: left;
  display: flex;
  align-items: center;
  justify-content: left;
}

.metas {
  width: 100% !important;
  display: flex;
  gap: 2%;
  flex-wrap: wrap;
  justify-content: space-evenly;
 
}

.meta:nth-child(1),
.meta:nth-child(2),
.meta:nth-child(3) {
  border-radius: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  margin-top: 5%;
  height: auto;
  display: flex;
  font-size: 11px;
  font-weight: 600;
  padding-bottom: 10px;
}

.vista-previa {
  display: flex;
  gap: 2%;
  justify-content: space-evenly;
  width: 100% !important;
}

.analitica:nth-child(1) {
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  margin-top: 5%;
  width: 100% !important;
  height: 300px;

}

.transaccion {
  width: 100% !important;
}

/*Transacciones*/
.transaccion:nth-child(1),
.transaccion:nth-child(2),
.transaccion:nth-child(3) {

  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  margin-top: 5%;
  height: 80px;
  text-align: left;

}

/* fuente */
.barra {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 5px;
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 5px;
}

.bar-chart {
  width: 90%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 90%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.bar {
  display: flex;
  align-items: center;
  gap: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.bar-inner {
  border: solid 1px rgba(0, 0, 0, 0.381);
  height: 20px;
  border-radius: 8px;
  transition: width 0.5s;
  margin-left: 1px;
  color: rgb(0, 0, 0);
  box-shadow: 1px 1px 3px 0px rgb(12, 12, 12);
  border: solid 1px rgba(0, 0, 0, 0.381);
  height: 20px;
  border-radius: 8px;
  transition: width 0.5s;
  margin-left: 1px;
  color: rgb(0, 0, 0);
  box-shadow: 1px 1px 3px 0px rgb(12, 12, 12);
}

.label {
  width: 70px;
  text-align: right;
  font-weight: bold;
  width: 70px;
  text-align: right;
  font-weight: bold;
}

.value {
  margin-left: 10px;
  font-size: 14px;
  font-weight: bold;
  margin-left: 10px;
  font-size: 14px;
  font-weight: bold;
}

.bar-inner.bar-small .value {
  color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/* Columna derecha */
.vista-derecha {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 380px;
  margin-left: auto;
  font-family: Arial, sans-serif;
  color: #2d3a8c;
}

.cinzel-tipado {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* Botón nueva tarjeta */
.nueva-tarjeta {
  display: flex;
  border: solid 1px rgba(0, 0, 0, 0.253);
  margin-top: 70px;
  border-radius: 20px;
  box-shadow: 0px 0px 5px #0000004d;
  width: 350px;
  height: 80px;
}

.boton-targeta {
  background: #2d3a8c !important;
  color: rgb(246, 242, 242) !important;
  border-radius: 8px !important;
  cursor: pointer !important;
  transition: background 0.9s !important;
  height: 30px !important;
  margin-left: 90px !important;
  margin-top: 20px !important;
}

.nueva-tarjeta h3 {

  color: #2d3a8c;
  margin-top: 20px;
  margin-left: 10px;
}

.acordeon-tarjeta select {
  width: 110px;
  height: 30px;
  font-size: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: border-color 2s;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
  margin-left: 30px !important;
}

/* Card Score */
.carrusel-targeta {
  border: solid 1px rgba(0, 0, 0, 0.272);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);

}

.tu-targeta h3 {
  margin-bottom: 15px;
  margin-left: -10px;

}

.tu-tarjeta {
  width: 350px;
}




.porcentaje {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.tarjeta-info {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 15px 0;
  margin-right: 30px;
}

.targeta-info p {
  font-size: 12px;
  color: gray;
  margin: 0;
}

.targeta-info span {
  font-size: 14px;
  font-weight: bold;
  color: #2d3a8c;

}

/* Quick Transfer */
.quick-transfer h4 {
  font-size: 14px;
  margin-bottom: 8px;
}

.avatares {
  display: flex;
  gap: 10px;
}

.avatares img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

/* Tips */
.tips-card {
  background: #f8f9ff;
  border-radius: 12px;
  padding: 15px;
}

.tips-card h4 {
  margin-bottom: 8px;
  font-size: 14px;
}

.tips-card p {
  font-size: 13px;
  color: #555;
  margin-bottom: 10px;
}

.tips-card a {
  font-size: 13px;
  color: #2d3a8c;
  text-decoration: none;
  font-weight: bold;
}

.iconoNav {
  display: flex;
  justify-content: center;
  gap: 10px;

}

.iconoNav img {
  height: 100px;
  border-radius: 50%;
}

.banco-targeta {
  width: 300px;
  background: #f9f9ff;
  padding: 10px;
  border-radius: 8px;
  font-family: sans-serif;
}

.row {
  display: flex;
  justify-content: space-between;
  margin: 4px 0;
}

.row span:first-child {
  font-weight: bold;
  color: #333;
}

.row span:last-child {
  color: #1a1a1b;
}

.estado {
  background-color: rgb(100, 248, 71);
  border-radius: 5px;
  font-weight: bold;
}

@media screen and (max-width:1300px) {
  * {
    margin: 0;
    padding: 0;
  }

  body {
    width: 100%;
    font-family: "Lato", sans-serif;
    color: rgba(53, 71, 172, 255);
  }

  .meta:nth-child(1),
  .meta:nth-child(2),
  .meta:nth-child(3) {
    border-radius: 20px !important;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3) !important;
    margin-top: 5% !important;
    width: 30% !important;
    height: auto !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    font-size: 9px !important;
    font-weight: 1000 !important;
    padding-bottom: 5px !important;
  }

  .vista-derecha {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: auto;
    margin-left: 2px;
    margin-right: 8px;
    font-family: Arial, sans-serif;
    color: #2d3a8c;
    margin-top: -3%;
  }

  .boton-targeta {
    background: #2d3a8c;
    color: rgb(249, 245, 245);
    border: none;
    margin: ;
    padding: 5px 20px 0px 20px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.9s;
    font-size: 10px;
    font-weight: 800;
  }

  .navmenu {
    width: 180px;
    height: 975px;
    border-radius: 12px;
  }


}

@media screen and (max-width:950px) {
  * {
    margin: 0;
    padding: 0;
  }

  body {
    width: 98.3%;
    font-family: "Lato", sans-serif;
    color: rgba(53, 71, 172, 255);
  }

  .vista-derecha {
    display: none;
  }

  .container {
    display: flex;
    margin-top: -5%;
    height: auto;
    gap: 3px;
  }

  .container {
    display: flex;
    margin-top: -5%;
    height: auto;
    gap: 3px;
  }

  .divmenu {
    display: none;
  }


  .tarjetas {
    display: none;
  }

  .tarjetas {
    display: none;
  }

  #masOpciones {
    margin-top: 10px;
    width: 25px;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    background-color: rgba(255, 255, 255, 0.518);
    border: none;
    border-radius: 8px;
  }

  #masOpciones {
    margin-top: 10px;
    width: 25px;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    background-color: rgba(255, 255, 255, 0.518);
    border: none;
    border-radius: 8px;
  }

  #masOpciones img {
    width: 25px;
    border: none;
    background-color: none;
    filter: ;
  }

  #masOpciones img {
    width: 25px;
    border: none;
    background-color: none;
    filter: ;
  }

  .containerOpciones {
    display: flex;
    flex-direction: column;
    gap: 70%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;

  }

  #barraleft {
    width: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    width: 35px;

  }

  .menu {
    width: 10px;
    height: 100%;
  }

  .menu {
    width: 10px;
    height: 100%;
  }

  .meta:nth-child(1),
  .meta:nth-child(2),
  .meta:nth-child(3) {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    width: 90%;
    height: 60px;
    align-items: center;
    justify-content: center;
    padding: 30px 0px;
    font-size: 10px;
  }

  .meta:nth-child(1),
  .meta:nth-child(2),
  .meta:nth-child(3) {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    width: 90%;
    height: 60px;
    align-items: center;
    justify-content: center;
    padding: 30px 0px;
    font-size: 10px;
  }

  .meta img {
    width: 50px;
    height: 50px;
  }

  .meta img {
    width: 50px;
    height: 50px;
  }

  .metas {
    height: auto;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8px;
  }

  .metas {
    height: auto;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8px;
  }
}