
@media screen and (min-width:431px) {
    .vista-derecha{
        display: none;
    }
    .acordeon-targeta{
        display: none;
    }
    body{
        background-color: rgba(0, 0, 255, 0.767);
       color: rgb(255, 255, 255);

    }
    #flecha{
    width: 30px;
    height: 30px;
    background-color: none;
    border: none;
    margin-left: 5px;
}

a {
   
    background-color: none;
}

button{
    background-color:transparent;
    border-radius: 12px;
    border: solid transparent;
}
    .oleo-script-regular {
  font-family: "Oleo Script", system-ui;
  font-weight: 400;
  font-style: normal;
}

.oleo-script-bold {
  font-family: "Oleo Script", system-ui;
  font-weight: 700;
  font-style: normal;
  margin-top: 20%;

}


}
@media screen and (max-width:431px) {

 #frase{
    display: none;


 }
    #flecha{
    width: 30px;
    height: 30px;
    background-color: none;
    border: none;
    margin-left: 5px;
}
a {
   
    background-color: none;
}

button{
    background-color:transparent;
    border-radius: 12px;
    border: solid transparent;
}


}
